@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon!</h1>
<h3>"Your hair is 90% of your selfie."</h3>
<br>

<p>@Html.ActionLink("See all Clients", "Index", "Client")</p>

<p>@Html.ActionLink("See All Stylists", "Index", "Stylist")</p>
<p>@Html.ActionLink("Add new Client", "Create", "Client")</p>
<p>@Html.ActionLink("Add new Stylist", "Create", "Stylist")</p>

<main>
  <p>"Eau Claire's was able to reimagine myself unlike anything I had ever imagined."
    <br> - Anonymous
    <br>
    <br>
    "A total transformative shift for the better"
    <br> - Jamie, Pdx OR
    <br>
    <br>
    "10 out of 10; would recommend!"<br> - Laura, Pdx OR
  </p>
</main>