@{
  Layout = "_Layout";
}

<h1>Welcome Eau Claire</h1>
<h3>Track and follow stylist & client information.</h3>

<p>@Html.ActionLink("See all Clients", "Index", "Client")</p>

<p>@Html.ActionLink("See All Stylists", "Index", "Stylist")</p>
<p>@Html.ActionLink("Add new Client", "Create")</p>