@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon!</h1>
<h3>"Your hair is 90% of your selfie."</h3>
<br>

<p>@Html.ActionLink("Add new Client", "Create", "Client") &nbsp&nbsp&nbsp&nbsp||&nbsp&nbsp&nbsp&nbsp
  @Html.ActionLink("See all Clients", "Index", "Client")</p>

<p>@Html.ActionLink("Add new Stylist","Create","Stylist")
  &nbsp&nbsp&nbsp&nbsp||&nbsp&nbsp&nbsp&nbsp @Html.ActionLink("See All Stylists", "Index", "Stylist")</p><br>

<p id="quote3">"10 out of 10; would recommend!" <br>- Laura, Pdx OR
</p>
<p id="quote1">"Eau Claire's was able to reimagine myself allowing me to truly express myself and feel like me."
  <br> - Anonymous
</p>
<br>
<p id="quote2">"A total transformative shift for the better" <br>- Jamie, Pdx OR
</p>